.cuerpo_web{
  background-color: #fff8d8;

}

h1{
  font-family: 'Arvo', serif;
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 70px;
  color: red;
}

.filas{
  margin-top: 80px;
}

.img_tacometro{
  height: 33px;
  margin-top: 20px;

}

.tarjeta{
  background-color: #ffe989;
  border: 5px solid red;
}

.btn_card{
  background-color: red;
  border-color: red;
  border: red;
  color: white;
  height: 40px;
  font-family: 'Arvo', serif;

}
.btn_card:hover{
  background-color: red;
}

h5{
  font-family: 'Arvo', serif;
  font-weight: bold;
}

p{
  font-family: 'Arvo', serif;
}

.ranking{
  font-family: 'Arvo', serif;
  font-weight: bold;
  font-size: 25px;
  color: red;
}



/*.btn_card :hover{
  background-color: red !important;
  border-color: red !important;
  color: white !important;
}*/